<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Product</title>

    <style>
        table, td {
            border: 1px solid;
        }
    </style>
</head>
<body>

<h2>Search for name</h2>
<form th:object="${hamster}" th:action="@{/hamsters}" method="get">
    <input type="text" name="search" id="search" th:value="${search}"/>
    <input type="submit" value="Search"/>
    <div th:if="${not #lists.isEmpty(search)}">
        <h2>Students List</h2>
        <table class="table table-striped">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Surname</th>
            </tr>
            <tr th:each="hamster: ${search}">
                <td th:text="${hamster.id}">
                    <!--<a href="/student/${student.idStudent}">idStudent</a></td>-->
                <td th:text="${hamster.name}">name</td>
            </tr>
        </table>
    </div>
</form>


<table>
    <tr>
        <td>id</td>
        <td>name</td>
        <td>age</td>
        <td>date</td>
        <td>owner</td>
        <td>Link</td>
    </tr>
    <tr th:each="product : ${hamsters}">
        <td th:text="${product.id}"></td>
        <td th:text="${product.name}"></td>
        <td th:text="${product.age}"></td>
        <td th:text="${product.dateTime}"></td>
        <td th:text="${product.owner.name}"></td>
        <td><a th:href="@{hamster/{id}(id=${product.id})}">Hamster</a></td>
    </tr>

</table>

<a th:href="@{hamster/new}">Add hamster</a>

</body>
</html>